<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Divide's Italian Restaurant </title>

    {% include 'divideCustomer/snippets/header.html' %}

    <style>
        body {
            background-color: saddlebrown;
            background-repeat: no-repeat;
            background-size: cover;
        }

    </style>

</head>
<body>




{% block content %}

{% endblock content%}



{% include 'divideCustomer/snippets/footer.html' %}


</body>
</html>